on:
  push:
    tags:
      - 'v*'

jobs:
  name: create-release
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - run: make build
    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
          files: build.tar.gz

  